{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "globals": {
    "window": "readonly",
    "JSX": "readonly"
  },
  "ignorePatterns": ["*.js"],
  "rules": {
    "max-len": ["error", { "code": 120 }]
  }
}
