.blog {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-indigo-700;
  }
  .info h1 {
    @apply text-white;
  }

  a.anchor-header {
    @apply pl-2;
    transition: none;
    box-shadow: none;
  }

  header {
    @apply pb-6;

    .background {
      margin-left: calc(-100vw / 2 + 100% / 2);
      margin-right: calc(-100vw / 2 + 100% / 2);
      filter: brightness(0.77);
      > div {
        height: 460px;

        @media (max-width: 672px) {
          height: 600px;
        }
      }
    }

    .info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
