.blog {
  h2,
  h3,
  p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 400;
    margin-top: 2rem;
  }

  h3 {
    font-size: 1.575rem;
    font-weight: 400;
    margin-top: 2rem;
  }

  figure {
    white-space: nowrap;
  }

  figcaption {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.75rem;
    font-style: italic;
    white-space: pre-wrap;
  }

  a {
    --bg-opacity: 1;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.875rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(226, 232, 240, var(--bg-opacity));
    }
  }

  blockquote {
    box-shadow: inset 3px 0 0 0 rgba(0, 0, 0, 0.84);
    padding-left: 1rem;
    font-style: italic;
  }

  strong {
    font-weight: 600;
  }
}
