.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  @apply text-indigo-700;
}
.blog .info h1 {
  @apply text-white;
}
.blog a.anchor-header {
  @apply pl-2;
  transition: none;
  box-shadow: none;
}

.blog header {
  @apply pb-6;
}

.blog header .background {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  filter: brightness(0.77);
}

.blog header .background > div {
  height: 460px;
}

@media (max-width: 672px) {
  .blog header .background > div {
    height: 600px;
  }
}

.blog header .info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
