{
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "baseUrl": "src",
    "paths": {
      "@/modules/*": ["modules/*"],
      "@/services/*": ["services/*"]
    },
    "target": "es2019",
    "parser": {
      "syntax": "typescript"
    },
    "minify": {
      "mangle": true,
      "compress": true
    }
  },
  "minify": true,
  "env": {
    "targets": {
      "node": 16
    }
  }
}
