.prose {
  @apply text-gray-600;

  * {
    @apply transition-all;
  }

  a {
    @apply font-normal text-yellow-600 no-underline;

    &:hover {
      @apply text-yellow-800;
    }
  }

  h2,
  h3,
  h4 {
    @apply scroll-mt-32;
  }

  code {
    font-family: "JetBrains Mono";
    @apply font-normal text-pink-600;

    &::before,
    &::after {
      content: "";
    }
  }

  :where(:not(pre)) code {
    @apply rounded-md border border-gray-100 bg-gray-100 px-1 py-0.5 font-normal;
  }

  blockquote {
    @apply font-normal text-gray-500;

    p:first-of-type::before,
    p:first-of-type::after {
      @apply hidden;
    }
  }

  img {
    @apply m-0;
  }

  strong {
    @apply -m-0.5 bg-yellow-100 p-0.5 font-normal;
  }
}
