---
import Button from "@/components/Button.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6 text-4xl">404</h1>
	<p class="mb-8">Oops, something went wrong — this page is lost in space.</p>
	<Button href="/" variant="primary" size="md">Back home</Button>
</PageLayout>
