---
import config from "../config.json";
---

<div class="pt-16 mb-8">
  <header class="mx-auto">
    <a href="/">
      <h1 class="text-2xl font-bold">First Sutham</h1>
    </a>
  </header>
  <nav>
    <ul class="flex text-sm">
      {
        config.menus.map((menu) => (
          <li class="inline-block border-r border-dotted border-black mr-4 pr-4 last-of-type:border-r-0">
            <a href={menu.url} class="hover:underline">
              {menu.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
