---
import { Icon } from "astro-icon/components";

/**
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Substack",
		link: "https://heyfirst.substack.com",
		name: "mdi:blog-outline",
	},
	{
		friendlyName: "Github",
		link: "https://github.com/heyfirst",
		name: "mdi:github",
	},
	{
		friendlyName: "Twitter",
		link: "https://x.com/heyfirst_",
		name: "mdi:twitter",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/first-sutham/",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "Email",
		link: "mailto:kanisorns.k@gmail.com",
		name: "mdi:email",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>You could also find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, link, name }) => (
				<li class="flex">
					<a class="hover:text-link inline-block" href={link} rel={`noreferrer`} target="_blank">
						<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
