@tailwind base;
@tailwind components;
@tailwind utilities;

.prose img {
  @apply m-0;
}

.prose code {
  @apply text-gray-500 px-1 py-0.5 border border-gray-100 rounded-md bg-gray-100;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-500;
}

.token.punctuation {
  @apply text-gray-500;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-red-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-yellow-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.remark-code-title {
  @apply px-4 pt-4 pb-2 font-mono text-sm font-bold text-gray-300 bg-gray-700 rounded-t;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block px-4 -mx-4 bg-gray-700 border-l-4 border-fuchsia-600;
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
